{% extends "base.html" %}

{% block title %}{{ building.name_of_asset }} - Greenify{% endblock %}

{% block content %}
<h2>Questions in {{ category.name }}</h2>
    <ul>
        {% for question in questions %}
            {% if question.id in answered_questions_ids %}
                <li><a href="{% url 'question_detail' building.id category.id question.code %}" style="color: green;">{{ question.prompt }}</a> (Answered)</li>
            {% else %}
                <li><a href="{% url 'question_detail' building.id category.id question.code %}" style="color: red;">{{ question.prompt }}</a> (Unanswered)</li>
            {% endif %}
        {% endfor %}
    </ul>
    <a href="{% url 'building_profile' building.id %}">Back to Building</a>
{% endblock %}